/src/RadElement.API/bin
/src/RadElement.API/Logs
/src/RadElement.API/obj
/src/RadElement.Core/bin
/src/RadElement.Core/obj
/src/RadElement.Data/obj
/src/RadElement.Data/bin/
/src/RadElement.Infrastructure/obj
/src/RadElement.Infrastructure/bin/
/src/RadElement.Service/obj
/src/RadElement.Service/bin/
/tests/RadElement.Service.Tests/obj
/tests/RadElement.Service.Tests/bin/
/tests/CodeCoverage/Reports
/src/RadElement.API/Properties/PublishProfiles
/.vs
global.json

