/RadElement.API/bin
/RadElement.API/Logs
/RadElement.API/obj
/RadElement.Core/bin
/RadElement.Core/obj
/RadElement.Data/obj
/RadElement.Data/bin/
/RadElement.Infrastructure/obj
/RadElement.Infrastructure/bin/
/RadElement.Service/obj
/RadElement.Service/bin/
/RadElement.Service.Tests/obj
/RadElement.Service.Tests/bin/
/CodeCoverage/ReportGenerator
/RadElement.API/Properties/PublishProfiles
/.vs
global.json


